/*html, body {
  font-family: 'Lato', sans-serif;
  font-size:14px;
  height:100%;
  margin: 0px;
  padding: 0px;
}
*/
.picture {
  border-radius: 50%;
  width: 10em;
}

.profile-pic {
  border: 0px solid white;
  background-image: url("http://exmoorpet.com/wp-content/uploads/2012/08/cat.png");
  background-size: contain;
  background-origin: content-box;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  vertical-align: bottom;
  display: inline-block;
  width: 3em;
  height: 3em;
  margin: 0 auto;
}

.street-view {
/*  width : 100%;
  height: 100%;*/
}


.logo {
  display: block;
  margin: 0 auto;
}

#content {
  overflow: hidden;
}

#content  {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 5px;
}

.login-fb {
  display: block;  
  margin: 0 auto;
}

.or::before {
  background-color: rgba(0, 0, 0, 0.117647);
  height: 1px;
  content: '';
  width: 20%;
  display: inline-block;
  vertical-align: middle;
}
.or::after {
  background-color: rgba(0, 0, 0, 0.117647);
  height: 1px;
  content: '';
  width: 20%;
  display: inline-block;
  vertical-align: middle;

}

.or {
  text-align: center;

}

.login-question {
  text-align: center;
  margin: 0 auto;

}

.login-or-signup {
  text-align: center;
  margin: 0 auto;

}

.fb-redirect {
  text-align: center;
}

.room-manager {
  text-align: center;
}

.map-inset {
  position: absolute;
  bottom: 0px;
  right: 0px;
  z-index : 1;
  height: 300px;
  width: 300px;
}
