h1 {
  color: black;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 80px;
  font-style: normal;
  font-variant: normal;
  font-weight: 250;
  padding: 20px;
  line-height: 26.3999996185303px;
  text-align: center;
}

.picture {
  border-radius: 50%;
}

.navbar .nav li > a:hover {
  background-color: #346392;
  border-radius: 5px;
}

.navbar .nav li > a:active {
  background-color: #27496d;
  border-radius: 5px;
}

.nav li {
  display: inline;
  margin: 10px;
  border-radius: 5px;
  wide: 80%;
  background-color: #6496c8;
}

.nav {
  text-align: center;
}

.nav li a {
  font-size: 30px;
  font-family: 'Lato', sans-serif;
  color: white;
}
