h1 {
  color: black;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 80px;
  font-style: normal;
  font-variant: normal;
  font-weight: 250;
  padding: 20px;
  line-height: 26.3999996185303px;
}

.picture {
  border-radius: 50%;
}
