<div id='mapMaker'>
  <div class='navbar col-md-4 col-sm-4 col-xs-6 col-md-offset-4 col-sm-offset-4 col-xs-offset-6' >
    <div class='nav'>
      <li><a ng-click="logout()" href='#/logout' class='logout'>Logout</a></li>
    </div>
    <form name='mapMaker' ng-submit="setup()" class='col-md-12'>
      <input name='mapName' type='string'
        ng-model="mapName" class='col-md-10'
        placeholder="Enter the name of the room" required />
      <button type="submit" value="Creator" class='col-md-2'>
        GO
      </button>
  </form>
  </div>

  

</div>
