
<div ng-init='init()'>
  <div id='map'>
    <div class='navbar col-md-4 col-sm-4 col-xs-6 col-md-offset-4 col-sm-offset-4 col-xs-offset-6'>
      <ul class='nav'>
        <li><a href='#/facebook' class='index' ng-click="logOut()">Home</a></li>
        <li><a href='#/logout' class='create' ng-click="logOut(true)">Logout</a></li>
        <li><a href='#/streetView'>Street View</a></li>

        <!-- show list of rooms - call db to get  -->
        <form name="roomForm"> 
        <select name="roomSelect" id="roomSelect" ng-model="selectedRoom" ng-change="setupConnection()">
          <option>--Select a Room--</option>
          <option ng-repeat="room in rooms.data" value="{{room.roomName}}">{{room.roomName}}</option>
        </select>
        </form> 

      </ul>
    </div>
  </div>

  <div class = 'col-md-12 col-sm-12 col-xs-12'>
  <h4>Map: {{selectedRoom}}</h4>
    <ng-map class="map" default-style="true" center="current-location" zoom="14">
      <marker ng-repeat="user in usersInRoom" position="{{user.latitude}},{{user.longitude}}" class="mark" icon = {{user.userPic}} on-click='goToStreetView(client)'></marker>
    </ng-map>
  </div>
  <div class='container'>
    <div ui-view></div>
  </div>

</div>
