<div class="row">
  <div class="col-md-8">
    <ul class="list-group">
      <li class="list-group-item" ng-repeat="replay in replaySet" ng-click="changeToStreetView(replay)">
        <div class="thumbnail">
          <div class="caption">
            <img src="http://lorempixel.com/100/100" style="float: left; margin-right: 10%;"/>
            <h3>{{replay.title}}</h3>
            <div class="panel-rating">
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <p>{{replay.owner}}</p>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="col-md-4"> </div>
</div>