<md-content id='content' layout='column'> 
  <br>
  <md-button class='md-raised md-primary login-fb' ng-click = 'goToFacebook()'><!-- <a href='#/facebook' class='create'>Login with Facebook</a> -->
  <!-- <img src='../img/facebook29.svg'></img> -->
      Continue with Facebook
  </md-button>
  <br>

  <div class='or'> or </div>

  <div layout='row' layout-align='center'>
    <div flex='50'>
    <form>
      <md-input-container>
        <label>Email</label>
        <input type="text" ng-model="user.email" required>
      </md-input-container>
      <md-input-container>
        <label>Password</label>
        <input type='text' ng-model="user.password" required>
      </md-input-container>
      
      <md-button class='md-raised md-primary login-fb' ng-click = 'nativeUserLogin()'>
          Login
      </md-button>
    </form>
    </div>

  </div>

  <br>
  <p class='login-question md-body-1'>Not signed up with us?</p>
  <p class='login-or-signup md-body-2'><a href='#signup'>Sign Up</a></p>
</md-content>
